.footer {
  border-top: 1px solid grey;
  color: rgb(161, 158, 158);
  display: flex;
  gap: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.social {
  cursor: pointer;
}

#social_icon {
  display: flex;
  gap: 0 15px;
}

#touch {
  font-size: 33px;
  font-weight: 800;
}
#touch p {
  margin-bottom: 5px;
}

@media screen and (max-width: 655px) {
  #touch {
    font-size: 25px;
  }
  #touch p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
